[submodule "autoload/vim-pathogen"]
	path = autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/indentline"]
	path = bundle/indentline
	url = https://github.com/yggdroot/indentline
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/nikhilkamineni/gruvbox.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/tabline.vim"]
	path = bundle/tabline.vim
	url = git://github.com/mkitt/tabline.vim.git
[submodule "bundle/vim-dirvish"]
	path = bundle/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "bundle/vim-one"]
	path = bundle/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "bundle/vim-styled-components"]
	path = bundle/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
